<!DOCTYPE html>
<html>
    <head>
        <title>Conditionals</title>
    </head>

    <body>
        <h1>This is a conditional in Jinja</h1>
        <h3>The number is {{ variable }}</h3>
        {% if variable == 5 %}
            <p>Equal to 5</p>
        {% elif variable < 5 %}
            <p>Less than 5</p>
        {% else %}
            <p>Greater than 5</p>
        {% endif %}
        <form method='POST'>
            <button type='submit' name='Retry'>Retry</button>
        </form>
        <br>
        <a href="home">Go home</a>
    </body>
</html>